@import "../sass/general/variables.scss";
@import "../sass/general/mixins.scss";

.about {
  display: block;
  background-color: $light-color-ninth;
  .container {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -360px;
      width: 927px;
      height: 535px;
      background-image: url("../img/about-pseudo-line.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -50px;
      right: -272px;
      width: 489px;
      height: 359px;
      background-image: url("../img/about-pseudo-dia.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
    }
  }
}

.about-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 230px 0 222px 510px;
  &::before {
    content: "";
    position: absolute;
    top: 147px;
    left: 134px;
    left: 134px;
    display: block;
    width: 335px;
    height: 652px;
    background-image: url("../img/about-pseudo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.about-content__title,
.about-content__subtitle,
.about-content__list-text {
  display: block;
  margin-top: 0;
}

.about-content__title {
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: $medium;
  line-height: 54px;
  letter-spacing: 0.3px;
  color: $darken-color-second;
}

.about-content__subtitle,
.about-content__list-text {
  font-size: 16px;
  font-weight: $medium;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: $darken-color-second;
}

.about-content__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 2px 0 0 17px;
  margin-bottom: 21px;
}

.about-content__list-item {
  display: block;
  &:last-child {
    .about-content__list-text {
      padding-right: 25px;
    }
  }
}

.about-content__list-text {
  position: relative;
  padding-right: 30px;
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -15px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $darken-color-third;
  }
}

.about-content__btn-cta {
  padding: 21px 10px;
  margin-left: 2px;
  background-color: $accent-color-first;
  transition: opacity 0.3s;
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
