@import "../sass/general/variables.scss";
@import "../sass/general/mixins.scss";

.block-form {
  display: block;
  padding-top: 140px;
  padding-bottom: 160px;
  background-image: linear-gradient(to bottom, $light-color-eleventh 0%, $light-color-twelfth 100%);;
}

.block-form-content {
  display: flex;
  flex-direction: column;
}

.block-form-title,
.block-form-text {
  display: block;
  text-align: center;
}

.block-form-title {
  width: 960px;
  margin: 0 auto 39px;
  padding-left: 12px;
  font-size: 36px;
  font-weight: $medium;
  line-height: 54px;
  letter-spacing: 0.2px;
  color: $darken-color-seventh;
}

.block-form-text {
  width: 565px;
  margin: 0 auto 55px;
  font-size: 24px;
  font-weight: $medium;
  line-height: 36px;
  color: $darken-color-second;
}
